.container-class{
    height: 28rem;
    width: 18rem;
    background-color: white;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
}

.body-elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}